@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.hero {
    
    &__container {
        overflow: hidden;
        height: 55vh;
        width: 100%;
        transform: translate(0%, 0%);
    }

    &__image {
        width: 100%
    }
}