.vidcontent {
    padding: 5em 0 5em 0;
    font-family: 'Montserrat' , sans-serif;
    background-color: #1dbac9;

    &--wrapper {
        max-width: 65em;
        width: calc(100% - 14em);
        margin: 0 auto;
    }

    &__title {
        font-weight: 700;
        line-height: 1.5;
        margin: 0 0 1em 0;
        color: #fff;
        text-transform: uppercase;
    }

    &__mission {
        font-size: 1em;
        margin-bottom: 2em;
        color: #fff;
    }

    &--btn {
        background-color:#0c5369;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-size: .8em;
        font-weight: 700;
        line-height: 3.65em;
        padding: 0 2.25em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background:#0c5369;
            color: #fff;
        }
    }
}