@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.nav {
    color: #fff;
    height: 300px;
    width: 100%;
    z-index: 6;
    background-color: transparent;
    font-family: 'Open Sans' , sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    @media only screen and (max-width: 900px) {    
       height: 100vh;
       justify-content: flex-start;
    }

    &--hidden {
        display: none;
    }

    &__menu {
        display: none;

        @media only screen and (max-width: 900px) {    
            display: flex;
            position: relative;
            height: 100px;
            width: 100%;
            position: absolute;
            align-items: center;
        }

        &--button {

            @media only screen and (max-width: 900px) {
                position: absolute;
                right: 0;
                cursor: pointer;
                margin-right: 10%;
                z-index: 9999;
            }

        }

        &--icon {

            @media only screen and (max-width: 900px) {
                display: block;
                width: 26px;
                height: 3px;
                background: #1dbac9;
                border-radius: 2px;

                &:nth-child(2) {
                    margin-top: 4px;
                }

                &:nth-child(3) {
                    margin-top: 4px;
                }
            }
        }

        &__logo {
            height: 35px;

            @media only screen and (max-width: 900px) {
                margin-left: 8%;
             }
        }
    }

    &__logo {
        height: 55px;
        align-self: center;
        margin-bottom: 1.5%;

        @media only screen and (max-width: 1220px) {
            height: 35px;
        }

        @media only screen and (max-width: 900px) {
           display: none;
        }
    }

    &__list {

        @media only screen and (max-width: 1440px) and (max-height: 1400px) {
            font-size: 1em;
        }

        @media only screen and (max-width: 900px) {
            transition: all 0.3s ease;
            z-index: -999;    
            width: 100%;
        }

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: .7em;

            @media only screen and (max-width: 900px) {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }

        &--item {
            align-items: center;
            list-style-type: none;
            text-transform: uppercase;
            width: fit-content;

            @media only screen and (max-width: 570px) { 
                margin-top: 45%;
                padding-right: 0px;
            }

            &:first-child {
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 30% 0 4% 0;
                    padding-right: 0px;
                }
            }

            &:nth-child(2){
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 0 0 4% 0;
                    padding-right: 0px;
                }
            }

            &:nth-child(3){
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 0 0 4% 0;
                    padding-right: 0px;
                }
            }

            &:nth-child(4){
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 0 0 4% 0;
                    padding-right: 0px;
                }
            }

            &:nth-child(5){
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 0 0 4% 0;
                    padding-right: 0px;
                }
            }

            &:nth-child(6){
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 5% 0 1% 0;
                    padding-right: 0px;
                }
            }
        }

        &--link {
            font-size: 1.35em;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color:rgba(8,27,51,.8);
            text-decoration: none;  

            @media only screen and (max-width: 900px) {    
                display: none;
                font-size: 1.8em;
                opacity: 0;
            }

            @media only screen and (max-width: 570px) { 
                font-size: 1.2em;
            }

            &:hover {
                color: #097e90;
            }
        }
    }

    &--highlight {
        color: #2fa5a7;
    }

    &__extra {
        display: flex;
        justify-content: center;  
        margin-top: 2%;   

        @media only screen and (max-width: 900px) { 
           display: none;
        }

        &--item {
            align-items: center;
            list-style-type: none;
            text-transform: uppercase;
            width: fit-content;

            @media only screen and (max-width: 570px) { 
                margin-top: 45%;
                padding-right: 0px;
            }

            &:first-child {
                padding-right: 40px;

                @media only screen and (max-width: 900px) {
                    margin: 30% 0 4% 0;
                    padding-right: 0px;
                }
            }

            &:nth-child(2){

                @media only screen and (max-width: 900px) {
                    margin: 0 0 4% 0;
                    padding-right: 0px;
                }
            }
        }

        &--link {
            font-size: 1em;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.02em;
            text-decoration: none;  

            @media only screen and (max-width: 900px) {    
                display: none;
                font-size: 1.8em;
                opacity: 0;
            }

            @media only screen and (max-width: 570px) { 
                font-size: 1.2em;
            }

            &:hover {
                color: #097e90;
            }

        }
    }
}

.hidden {
    display: none;

    @media only screen and (max-width: 900px) {
        display: block;
    }
}

#nav:checked ~ .nav__list .nav__list--wrapper .nav__list--item .nav__list--link {
    opacity: 1;
    display: block;
    z-index: 7;
}

#nav:checked ~ .nav__list .nav__list--wrapper {
    background-color: #fff;
}

.active {
    color: #2aa5a7
}