#banner {
    background-color:#1dbac9;
    color: rgba(8, 27, 51, 0.8);
    padding: 13em 0 11em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;
    text-align: center;
}