.section {
    display: flex;
    justify-content: center;
    padding-top: 320px;

    @media only screen and (max-height: 850px) and (max-width: 1500px) {
        padding-top: 16%;
        padding-bottom: 10%;
    }

    @media only screen and (max-width: 975px) {
        padding-top: 25%;
    }

    &__video {
       width: 870px;

        @media only screen and (max-height: 850px) and (max-width: 1500px) {
            width: 900px;
        }

        @media only screen and (max-width: 975px) {
            width: 600px;
        }

        @media only screen and (max-width: 650px) {
            width: 450px;
        }
    }
}