.card {
    width: 25%;
    display: inline-block;
    font-family: 'Montserrat' , sans-serif;

    &__title {
        font-weight: 700;
        line-height: 1.8;
        margin: 0 0 1em 0;
        color: #2fa5a7;
        text-transform: uppercase;
    }

    &__content {
        font-size: .9em;
        margin-bottom: 2em;
    }

    &--btn {
        box-shadow: inset 0 0 0 3px #2fa5a7;
        color: #2fa5a7;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-size: .8em;
        font-weight: 700;
        line-height: 3.65em;
        padding: 0 2.25em;
        text-decoration: none;
        text-transform: uppercase;
    }
}